.ctable-heading,
.crequest-heading {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* color: antiquewhite; */
    background-color: rgb(0, 110, 255);
    height: 5vh;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.add-btn {
    margin: 20px;
}

.adminlist-home {
    display: flex;
}

.admintable-one {
    top: 0;
    margin-top: 15vh;
    margin-left: 10vw;
}

.admin-btn {
    width: 20px;

}

.requesttable {
    margin-top: 20px;
}

.heading {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}