.admin-skill-container {
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
}

.maindiv {
  display: flex;
}

div.modal-content {
  background-color: #a09fb0;
}

div.modal-header {
  color: #ffffff;
}

.formlabel {
  color: #ffffff;
}

div .select {
  color: #000000;
  background-color: #ffffff;
}

.cmodal-content {
  background-Color: #ffff;
  border: 3px;
  border-Color: solid blue;
}

.cmodel-header {
  Color: #000000;
}

.cmodal-select {
  color: #ffffff;
  background-Color: #000000;
}

div .smodal-content {
  background-Color: #4b4760;
}

div .smodal-select {
  color: #000000;
  background-Color: #ffff;
}

.input {
  max-Width: 15%;
}

.button-search {
  background-color: #262242;
  margin-Bottom: 7px;
}

.admin-usertable {
  max-width: 40%;
}

.tr-head {
  background-color: #777a99;
}

div.button {
  background-color: #110f46;
}

.side-table {
  display: flex;

}

.skill-table {
  margin-top: 20px;
}

div .sbutton {
  background-color: rgb(5, 23, 81);
  color: #ffffff;
  margin-right: 10px;
}