* {
    margin: 0;
    padding: 0;
}

.fullpage {
    height: 100vh;
    width: 100%;
    background-color: rgb(241, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels {
    font-size: 13px;
    margin-left: 2px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.office-images {
    height: 100%;
    width: 400px;
}

.form {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 95vh;
    width: 70%;
    border: 0.5px solid rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-right {
    background-color: rgb(247, 244, 244);
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.details {
    display: flex;
    flex-direction: column;
}