* {
    margin: 0;
    padding: 0;
}

.fullpage {
    height: 100vh;
    width: 100vw;
    background-color: rgb(237, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    height: 95vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 0 2px 2px rgb(70, 69, 69);
}

.leftcontainer {
    border-radius: 5%;
    height: 60vh;
    width: 25vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18, 92, 204, 0.153);
    border-color: rgba(0, 0, 0, 0.838);
    box-shadow: 10px;
}

.rightcontainer {
    height: 95vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}

h5 {
    color: rgb(250, 7, 7)
}

img {
    height: 95vh;
    width: 40vw;
}

#messagebox {
    margin: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#heading {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    display: grid;
    margin-top: 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-right: 4vw;
    border-radius: 5px;
}

#login:hover {
    font-size: 100%;
    background-color: rgb(32, 128, 231);
}