img{
    width: 40vw;
    height: 80vh;
}

.heading {
    font-size: 60px;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    background-color: white;
}

.first-para {
    font-size: 20px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

.signup-btn {
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.second-section {
    background-color: #3A3093;
    color: white;
}

.blue-div {
    background-color: white;
    width: 100vw;
    height: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.features-heading {
    font-size: 80px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    --background: linear-gradient(to left, #32e30f 0%, #0c9ad2 100%);
    width: 150px;
    height: 230px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}

.card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
}

.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card .title {
    font-weight: bolder;
    letter-spacing: .1em;
}

/*Hover*/
.card:hover::after {
    opacity: 0;
}

.card:hover .card-info {
    color: white;
    transition: color 1s;
}

.card-div {
    margin-top: 50px;
    display: flex;
}
.about-content
{
    display: flex;
    
}
.about-text
{
    margin-top: 10vh;
    margin-left: 20px;
}
.empower-img
{
    width: 45vw;
    height:60vh;
    border-radius: 10px;
}