.top {
    background-color: #5344F5;
    width: 13rem;
    height: 120vh;
}

.sidenav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.logo {
    font-weight: bold;
    padding-bottom: 10px;
}

.logo {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color: rgb(8, 8, 8);
}

.logo-div {
    background-color: rgb(233, 240, 247);
    text-align: center;
    width: 200px;
    margin-left: 5px;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 3px;
}

.sidebar-links h4 {
    margin-left: 8px;
    font-size: 15px;
}

.logo-firsttext {
    color: rgb(247, 6, 6);
}

.container {
    margin-top: 20px;
}

.sidebar-links {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 15px;
    color: rgb(245, 242, 242);
}

.sidebar-links:hover {
    background-color: rgb(255, 255, 255);
    transition: 1s;
    border-radius: 10px;
    width: 200px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.sidebar-links {
    padding: 20px;
    display: flex;
}