.adminpagectable-heading,
.certificate-addrequest-heading {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    /* color: antiquewhite; */
    background-color: rgb(0, 110, 255);
    height: 5vh;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.certificatepage-add-button {
    margin: 20px;
}

.admincertificatepage-home {
    display: flex;
}

.admincertificate-pagetable-one {
    top: 0;
    margin-top: 15vh;
    margin-left: 10vw;
}

.admincertificate-requesttable {
    margin-top: 20px;
}

.admincertificate-page-right-component,
.admincertificate-pagetable-one {
    margin-left: 20vw;
}