.adminreport-home {
  display: flex;
  background-color: #ffff;
}

.chart-heading,
.adminreport-heading {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.chart-heading {
  margin-left: 15px;
  margin-top: 10px;
}

.adminreport-heading {
  margin-left: 10px;
  margin-top: 20px;
}

.admin-report-table {
  background-color: #ffff;
}

.charts {
  display: flex;
  margin-left: 5vw;
}

.adminreport-container
{
  margin-left: 5vw;
}

.barchart {
  margin-top: 16vh;
}

.piechart {
  background-color: #17134b;
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  border-radius: 10px;
}

.barchart {
  background-color: #17134b;
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  border-radius: 10px;
}