.adminreport-home {
  display: flex;
  background-color: #ECECF8;
}

.sidebar-component {
  display: flex;

}

.chart-heading,
.report-heading {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.chart-heading {
  margin-left: 15px;
  margin-top: 10px;
}

.report-heading {
  margin-left: 10px;
  margin-top: 20px;
}


.report-table {
  background-color: #ffff;
}

.container {
  width: 80vw;
}

.charts {
  display: flex;
}

.barchart {
  margin-top: 16vh;
}

.piechart {
  background-color: #ffff;
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  border-radius: 10px;
}

.barchart {
  background-color: #ffff;
  margin-left: 20px;
  margin-top: 40px;
  align-items: center;
  border-radius: 10px;
}