.adminpage-main-container {
    display: flex;

}

.admin-dashboard {
    background-color: #ffffff;
    width: 65vw;
    height: 8vh;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-dashboard-middle-content {
    background-color: rgb(29, 72, 99);
    width: 66vw;
    height: 28vh;
    margin-left: 20px;
    margin-top: 8vh;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.adminhome-middle-one,
.adminhome-middle-two,
.adminhome-middle-three {
    width: 300px;
    background-color: #f0f0f0;
    margin: 10px;
    margin-left: 20px;
    text-align: center;

}

.adminhome-middle-heading {
    font-weight: bold;
    font-size: .8rem;
    margin-top: 3px;
}

.admin-dashboard-heading {
    font-weight: bold;
}