#login {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    width: 260px;
    height: 35px;
}

#delete {
    background-color: rgb(226, 56, 58);
    color: white;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    width: 70px;
    height: 30px;
}

#add {
    background-color: rgb(56, 226, 62);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    width: 90px;
    height: 30px;
}

#register {
    background-color: rgb(49, 49, 211);
    color: rgb(241, 239, 239);
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    height: 40px;
}