
.top
{
    background-color: #ffff;
    /* height: 100vh; */
    width: 13rem;
    height: 120vh;
    border: 1px solid black;
}
.sidenav
{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 70px;
   
}
.logo
{
    font-weight: bold;
}
h2{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.sidebar-links h4{
  margin-left: 8px;
  font-size: 15px;
}
span{
    color: red;
}
.container
{
  margin-top: 20px;
}
.sidebar-links
{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;

}
.sidebar-links:hover
{
    background-color: aqua;
    transition: 1s;
    border-radius: 10px;
    width: 200px;
    
}
.sidebar-links
{
    padding: 20px;
    display: flex;
}

