.adminskillpage-main-container {
  display: flex;
}

.adminskillpage-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}

.adminskillpagetable-content {
  margin-top: 10vh;
}

.adminskillpagerequest-table {
  margin-top: 12vh;
}

.adminskillpage-rightside {
  margin-left: 250px;
}